/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: lighten(#07F7E8, 10%);
$background-color: lighten(grey, 45%);
$font-family: dynamic(arial);
$checkboxfield-checkbox-color: lighten(#FF64D9, 10%);